<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="products">Home</a>
                        <a href="products">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of cartProducts; let i = index">
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="/assets/{{product.imagesUrl}}" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{product.name}}</h6>
                                        <h5>${{product.price}}</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input  min="1" (change)="amount(i)" [(ngModel)]="quantity[i]"  type="number"  [ngModel]="product.options.amount">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ {{product.options.price}}</td>
                                <td (click)="remove(i)" class="cart__close"><i class="fa fa-close"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="#">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a (change)="updateTotal()"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span>$ {{cartTotal}}</span></li>
                    </ul>
                    <a [routerLink] = "['/order']" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>